.new-group-popup__container {
  width: 320px;
  height: 125px;
  background: #101010 0% 0% no-repeat padding-box;
  border-radius: 8px;

  .input-wrapper {
    width: 100%;
    height: 76px;
    background: #1b1a1a 0% 0% no-repeat padding-box;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .search-box {
      height: 44px;
      background: #101010 0% 0% no-repeat padding-box;
      border-radius: 30px;
      border: none;
      padding: 0px 18px;

      .ant-input-prefix {
        width: 16px;
      }

      input {
        background: #101010 0% 0% no-repeat padding-box;
      }
    }
  }

  .create-group-action {
    width: 320px;
    height: 50px;
    padding: 10px 16px;
    background: #101010 0% 0% no-repeat padding-box;
    font: normal normal 300 16px/19px Montserrat;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .plus-icon {
      font-size: 30px;
      font-weight: 500;
    }
  }
}

//Create Group Modal

.create-group-modal__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 18, 18, 0.7);
  border-radius: 8px;
  z-index: 99999999;
  inset: 0;
  pointer-events: auto;

  .create-group-inner-container {
    opacity: 1;
    width: 480px;
    min-height: 557px;
    background: rgba(35, 35, 37, 0.48);
    backdrop-filter: blur(25px);
    border-radius: 26px;

    header {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      .cg-close-icon {
        position: absolute;
        right: 20px;
        top: 12px;
        cursor: pointer;
      }

      .logo-wrapper {
        margin-top: 40px;
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;

        svg {
          width: 13.33px;
          height: 9.3px;
        }

        span {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    .cg-search-container {
      width: 100%;
      padding: 24px 16px 0px 16px;

      .cg-group-name-input-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 24px;
      }

      .cg-list-container {
        padding-top: 24px;

        .cg-list-header {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }

        .cg-list-wrapper {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          height: 273px;
          overflow-y: scroll;

          .list-item:hover {
            background-color: #141415;
            border-radius: 13px;
          }

          .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            .added-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 18px;

              .added-text {
                font-family: 'Ignazio Text';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
              }
            }

            .user-name-details {
              display: flex;
              align-items: center;
              gap: 8px;

              .user-name {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
              }
            }

            .add-icon {
              width: 36px;
              height: 36px;
              cursor: pointer;
              background: url(../../../assets/images-v2/add-member-icon.svg) no-repeat;
            }

            .add-icon:hover {
              width: 36px;
              height: 36px;
              background: url(../../../assets/images-v2/add-member-active-icon.svg) no-repeat;
            }

            .member-edit-wrapper {

              .remove-icon {
                cursor: pointer;
              }

              .me-confirm-remove-wrapper {
                display: flex;
                gap: 12px;
                align-items: center;

                .me-confirm-remove-txt {
                  font-family: 'Ignazio Text';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }

    .cg-footer {
      padding: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid #303030;

      .delete-chat-wrapper {
        display: flex;
        gap: 10px;

        .delete-chat-txt {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #9A9C9D;
          cursor: pointer;
        }
      }

      .cg-submit-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        gap: 8px;
        background: #080A0C;
        border: 1px solid #C3CFD5;
        border-radius: 100px;

        font-family: 'Ignazio Text';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #B1B1B1;
      }

      button:disabled,
      button[disabled]{
        background: #525252 0% 0% no-repeat padding-box;
        color: #777777;
        cursor: auto;
      }
    }

    footer {
      text-align: right;
      padding: 0px 30px;
      button {
        width: 164px;
        height: 57px;
        background: #909090 0% 0% no-repeat padding-box;
        border-radius: 29px;
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        font-family: niveau-grotesk;
        font-weight: 600;
        border: 0;
        margin-left: 10px;
        cursor: pointer;
      }

      .create-btn {
        background: #523FF9 0% 0% no-repeat padding-box;
        color: #FFFFFF;
      }

      button:disabled,
      button[disabled]{
        background: #525252 0% 0% no-repeat padding-box;
        border-radius: 29px;
        color: #777777;
        cursor: auto;
      }
    }
  }
}

.ant-popover-arrow {
  border-left-color: #1b1a1a !important;
  border-bottom-color: #1b1a1a !important;
}

.ant-popover-arrow-content {
  background: #1b1a1a 0% 0% no-repeat padding-box;
}

.ant-popover-inner-content {
  padding: 0px;
}

.ant-popover-inner {
  background: none;
}

.divider {
  background: #363636;
  margin: 0px;
}

.multiselect-result-container {
  height: 45px;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .notFound {
    font: normal normal medium 15px/19px Montserrat;
    color: #E3E3E3;
  }

  .option {
    padding: 0px;
  }

  .result-wrapper {
    display: flex;
    gap: 16px;

    .user-icon-wrapper {
      width: 48px;
      height: 48px;
    }

    .user-detail-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .username-text {
        font: normal normal medium 15px/19px Montserrat;
        color: #E3E3E3;
      }

      .user-place-text {
        font: normal normal normal 14px/18px Montserrat;
        color: #969696;
      }
    }
  }
}

.menu__container {
  min-width: 150px;
  // height: 128px;
  background: rgba(35, 35, 37, 0.8);
  box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 8px;

  .menu {
    width: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    height: 36px;
    background: none;
    border-radius: 10px;
    font-family: 'Ignazio Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #C4C4C4;
  }

  .menu:hover {
    background: #141415;
  }
}

.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  display: none !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
  display: none !important;
}

//Rename Group Modal

.rename-group-modal__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 8px;
  z-index: 9;
  inset: 0;
  pointer-events: auto;

  .rename-inner-container {
    width: 696px;
    height: 325px;
    background: #282828 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;

    header {
      height: 99px;
      width: 100%;
      border-bottom: 1px solid #393939;
      display: flex;
      align-items: center;
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;

      .left {
        display: flex;
        gap: 24.64px;
        align-items: center;
        width: 100%;

        svg {
          width: 41px;
          height: 41px;
        }

        span {
          font-size: 27px;
          color: #fff;
          font-family: niveau-grotesk;
          font-weight: bold;
        }
      }
    }

    .rename-content {
      padding: 30px;

      .search-user-input-wrapper {
        margin-top: 24px;

        .add-user-label {
          font: normal normal 300 20px/24px Montserrat;
          color: #C4C4C4;
          margin-bottom: 10px;
        }
      }
    }

    footer {
      text-align: right;
      padding: 0px 30px;
      button {
        width: 164px;
        height: 57px;
        background: #909090 0% 0% no-repeat padding-box;
        border-radius: 29px;
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        font-family: niveau-grotesk;
        font-weight: 600;
        border: 0;
        margin-left: 10px;
        cursor: pointer;
      }

      .create-btn {
        background: #523FF9 0% 0% no-repeat padding-box;
        color: #FFFFFF;
      }

      button:disabled,
      button[disabled]{
        background: #525252 0% 0% no-repeat padding-box;
        border-radius: 29px;
        color: #777777;
        cursor: auto;
      }
    }
  }
}

//Add Members Modal

.add-members-modal__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 18, 18, 0.7);
  border-radius: 8px;
  z-index: 9999999;
  inset: 0;
  pointer-events: auto;

  .add-members-inner-container {
    opacity: 1;
    width: 480px;
    height: 541px;
    background: rgba(35, 35, 37, 0.48);
    backdrop-filter: blur(25px);
    border-radius: 26px;

    header {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      .amm-close-icon {
        position: absolute;
        right: 20px;
        top: 12px;
        cursor: pointer;
      }

      .logo-wrapper {
        margin-top: 40px;
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;

        svg {
          width: 13.33px;
          height: 9.3px;
        }

        span {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    .amm-search-container {
      width: 100%;
      padding: 24px 16px 0px 16px;

      .amm-list-container {
        padding-top: 24px;

        .amm-list-header {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }

        .amm-list-wrapper {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          height: 273px;
          overflow-y: scroll;

          .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            &:hover {
              background-color: #141415;
              border-radius: 13px;
            }

            .added-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 18px;

              .added-text {
                font-family: 'Ignazio Text';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
              }
            }

            .user-name-details {
              display: flex;
              align-items: center;
              gap: 8px;

              .user-name {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
              }
            }

            .add-icon {
              width: 36px;
              height: 36px;
              cursor: pointer;
              background: url(../../../assets/images-v2/add-member-icon.svg) no-repeat;
            }

            .add-icon:hover {
              width: 36px;
              height: 36px;
              background: url(../../../assets/images-v2/add-member-active-icon.svg) no-repeat;
            }
          }
        }
      }
    }

    .amm-footer {
      padding: 24px 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid #303030;

      .amm-submit-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        gap: 8px;
        background: #080A0C;
        border: 1px solid #C3CFD5;
        border-radius: 100px;

        font-family: 'Ignazio Text';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #B1B1B1;
      }

      button:disabled,
      button[disabled]{
        background: #525252 0% 0% no-repeat padding-box;
        color: #777777;
        cursor: auto;
      }
    }

    footer {
      text-align: right;
      padding: 0px 30px;
      button {
        width: 164px;
        height: 57px;
        background: #909090 0% 0% no-repeat padding-box;
        border-radius: 29px;
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        font-family: niveau-grotesk;
        font-weight: 600;
        border: 0;
        margin-left: 10px;
        cursor: pointer;
      }

      .create-btn {
        background: #523FF9 0% 0% no-repeat padding-box;
        color: #FFFFFF;
      }

      button:disabled,
      button[disabled]{
        background: #525252 0% 0% no-repeat padding-box;
        border-radius: 29px;
        color: #777777;
        cursor: auto;
      }
    }
  }
}

//Member List

.member-list__container {
  .header {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    height: 48px;
    align-items: center;
    padding-left: 20px;

    svg {
      width: 24px;
      fill: #fff;
      cursor: pointer;
    }

    span {
      font: normal normal bold 20px/24px Montserrat;
      color: #EAEAEB;
    }
  }

  .add-member {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    cursor: pointer;

    svg {
      width: 16px;
    }

    span {
      font: normal normal normal 16px/41px niveau-grotesk;
      color: #FFFFFF;
    }
  }

  .content {
    margin-top: 10px;
    .list-container {
      overflow-y: scroll;
      height: 606px;
      width: 100%;

      .item {
        display: flex;
        align-items: center;
        height: 35px;
        gap: 10px;
        padding: 20px;

        .user-name {
          font: normal normal normal 16px/19px Montserrat;
          color: #EAEAEB;
        }
      }

      .divider {
        border: 1px solid #393939;
        margin: 8px 25px;
      }
    }
  }
}

//Search Result Box
.search-user-result__container {
  background: #1A1A1A 0% 0% no-repeat padding-box;
  border: 2px solid #1D1D1D;
  border-radius: 8px;

  .list-container {
    overflow-y: scroll;
    width: 288px;
    max-height: 408px;
    padding: 10px 20px;

    .result-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;

      .left {
        display: flex;
        gap: 16px;

        .user-icon-wrapper {
          width: 48px;
          height: 48px;
        }

        .user-detail-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .username-text {
            font: normal normal normal 15px/19px Montserrat;
            color: #e3e3e3;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 150px;
          }

          .user-place-text {
            font: normal normal normal 14px/18px Montserrat;
            color: #969696;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 150px;
          }
        }
      }
    }

    .ant-divider-horizontal {
      margin: 0 !important;
      border-top: 1px solid #363636;
    }

  }
}

/* Group options */
.group-option__container {
  .option-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 100px;

    &:hover {
      background: #141415;
    }
  }
}
