.Teams-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 16px;
    width: 296px;
    height: 216px;
    border-radius: 26px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;

    
    .Teams-Title-Container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 264px;
        height: 24px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        .Teams-label{
            width: 51px;
            height: 24px;
            font-family: 'Ignazio Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .Teams-Count-Div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            gap: 10px;
            width: 24px;
            height: 24px;
            border: 1px solid #C3CFD5;
            border-radius: 100px;
            flex: none;
            order: 1;
            flex-grow: 0;

            .Teams-count{
                width: 7px;
                height: 16px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
         }
        }
        .Teams-community{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
            width: 264px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            .community{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 8px;
                width: 264px;
                height: 40px;
                border-radius: 100px;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                .community-avatar{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    gap: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
                .team-name{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 2px;
                    width: 125px;
                    height: 36px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;

                    .team-name-text{
                        width: 95px;
                        height: 20px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #FFFFFF;
                        flex: none;
                        order: 0;
                        flex-grow: 0;
                    }
                
                    .team-name-time{
                        width: 120px;
                        height: 16px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #9A9C9D;
                        flex: none;
                        order: 1;
                        flex-grow: 0;
                    }
                 }
            
        }
    }
  }
  .grayout {
    -webkit-filter: saturate(0%);
filter: saturate(0%);
opacity: 0.6;
pointer-events: none;
}