.profile-page-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    // justify-content: center;
    padding: 180px 0px 50px 287px;
    gap: 30px;

    .infinite-scroll-component__outerdiv {
        height: 100%;

        .infinite-scroll-component  {
            width: 100%;
            padding-bottom: 50px;
        }
    }

    .feed-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}

.profile-left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;

    .profile-header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    
        .pf-inner-wrapper {
            display: flex;
            justify-content: space-between;
    
            .user-details-wrapper {
                display: flex;
                gap: 15px;
        
                .ud-profile-img {
                    width: 112px;
                    height: 112px;
                    border-radius: 50%;
                }
        
                .ud-profle-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
        
                    font-family: 'Ignazio Text';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
        
                    .online-txt {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #6ABE69;
                    }
                }
            }
        }
        
    }

    .profile-header-bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-cta-wrapper {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .profile-count-wrapper {
            display: flex;
            gap: 5px;
            justify-content: space-between;
            width: 210px;
        
            .counter-wrapper {
                display: flex;
                gap: 10xp;
                align-items: center;
        
                svg {
                    width: 17px;
                    height: 16px;
                }
        
                span {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    color: #FFFFFF;
                }
            }
        }
    }
    
}

.profile-with-feeds-content{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 100%;
height: 100vh;
background: none;
padding-left: 284px;
padding-top: 180px !important;
background: none;
overflow-y: scroll;
z-index: -1!important;
position: relative;
.profilewithfeeds{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 560px;
    height: 924px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;

    .profile{
        top:32px;
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    padding: 0px;
    gap: 16px;
    width: 560px;
    height: 164px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 24px;
            .topdiv{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                background: none;
                padding: 0px;
                gap: 16px;
                width: 515px;
                height: 112px;
                flex: none;
                order: 0;
                flex-grow: 0;

                .avtardiv{
                    display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 16px;
                height: 112px;
                flex: none;
                order: 0;
                flex-grow: 1;

                    .profilepic{
                        width: 112px;
                    height: 112px;
                    border-radius: 100px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    }
                }
                .profileinfo{
                display: flex;
                position: absolute;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                //padding: 12px 0px;
                width: 565px;
                flex: none;
                order: 1;
                gap: 16px;
                align-self: stretch;
                flex-grow: 0;
                background: none;
                pointer-events: none;
                    .top{
                            display: flex;
                            flex-direction: row!important;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 8px;
                            top: 12px!important;
                            width: 115px;
                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            display: flex;
                                .usernamediv{
                                    display: flex;
                                    padding-left: 130px;
                                    flex-direction: row;
                                    align-items: center;
                                    grid-gap: 4px;
                                    gap: 4px;
                                    height: 24px;
                                    flex: none;
                                    order: 0;
                                    flex-grow: 0;
                                    display: flex;
                                    color: white;
                                            .usernametxt{
                                                height: 24px;
                                                font-family: 'Ignazio Text';
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 18px;
                                                line-height: 24px;
                                                color: #FFFFFF;
                                                flex: none;
                                                order: 0;
                                                flex-grow: 0;
                                            }
                                }//usernamediv
                                .checkcircle{
                                    height: 12px;
                                    width: 12px;
                                    border-radius: 0px;
s                                    .checkimg{
                                        left: 8.33%;
                                        right: 8.33%;
                                        bottom: 8.33%;
                                        }
                                } //checkcircle
            }//topdiv
            .status{
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 0px;
                gap: 2px;
                height: 16px;
                width: 85px;
                flex: none;
                order: 1;
                top:8px;
                flex-grow: 0;
                padding-left: 23%;

                .statusimg{
                        width: 12px;
                    height: 12px;
                    border-radius: 100px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    }
                    .statustxt{
                    padding-left: 0px;
                    height: 16px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #78BAD6;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    width: 71px;

                    }
                    .statusonline{
                        width: 37px;
                        height: 16px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #6ABE69;

                        flex: none;
                        order: 0;
                        flex-grow: 0;
                    }
                }//status
                .txtstatus{
                    width: 100%;
                    height: 20px!important;
                    padding-left: 23%!important;
                    display: flex;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 16px;
                    color: #C4C4C4;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    word-wrap: break-word;
                }
            }//profileinfo
            .joindiv{
                background: none;
                display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 0px;
            gap: 10px;
            width: 56px;
            height: 112px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
                    .joinbutton{
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 16px;
                        gap: 8px;
                        width: 56px;
                        height: 28px;
                        border: 1px solid #C3CFD5;
                        border-radius: 100px;
                        flex: none;
                        order: 0;
                        flex-grow: 0;
                              .jointxt{
                                width: 24px;
                                height: 16px;
                                font-family: 'Ignazio Text';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 16px;
                                color: #FFFFFF;
                                flex: none;
                                order: 0;
                                flex-grow: 0;
                              }//jointxt
                    }//join button
                    .EditProfilebutton{
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 16px;
                        gap: 8px;
                        width: 97px;
                        height: 28px;
                        cursor: pointer;
                        border: 1px solid #C3CFD5;
                        border-radius: 100px;
                        flex: none;
                        order: 0;
                        flex-grow: 0;
                              .jointxt{
                                width: 65px;
                                height: 16px;
                                font-family: 'Ignazio Text';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 16px;
                                color: #FFFFFF;
                                flex: none;
                                order: 0;
                                flex-grow: 0;

                            }
                    }//join button
                    &.disabled-connect {
                        opacity: 0.3;
                        cursor: none;
                        pointer-events: none;
                  }//jointxt
            }//join div
        }//topdiv
        .info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0px;
            gap: 75px;
            width: 560px;
            height: 48px;
            flex: none;
            order: 1;
            flex-grow: 0;
              .follow{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 24px;
                width: 219px;
                height: 20px;
                flex: none;
                cursor: pointer;
                order: 0;
                flex-grow: 0;
                .follower{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 6px 0px;
                    gap: 8px;
                    width: 57px;
                    height: 32px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    .followinnerdiv{
                        display: flex!important;
                        flex-direction: row!important;
                        box-sizing: border-box;
                        justify-content: left;
                        align-items: flex-start;
                        padding: 2px 0px;
                        width: 57px;
                        height: 32px;
                        flex: none;
                        order: 0;
                        flex-grow: 0;
                        .u1txt{
                            width: 33px; ///check this for height
                            height: 20px;
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                            flex: none;
                            order: 1;
                            flex-grow: 0;
                          }//u1txt
                        }//followinnerdiv
                    }//follower
              }//follow
              .btns{
                display: flex;
                flex-direction: row;
                align-items:flex-start;
                padding: 0px;
                gap: 8px;
                width: 266px;
                height: 32px;
                flex: none;
                order: 1;
                flex-grow: 0;
                 .followbtn{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 8px;
                    cursor: pointer;
                    width: 90px;
                    height: 32px;
                    background: #FFFFFF;
                    border-radius: 100px;
                    font-family: 'Ignazio Text';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                 }//followbtn
                 .connectbtn{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 8px;
                    width: 94px;
                    height: 32px;
                    border: 1px solid #C3CFD5;
                    border-radius: 100px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                        .connectlable{
                            width: 62px;
                            height: 16px;
                            font-family: 'Ignazio Text';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }//connectlable
                        &.disabled-connect {
                            opacity: 0.3;
                            cursor: none;
                            pointer-events: none;
                        }
                 }//connect

                 .icon{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 8px;
                    gap: 10px;
                    width: 32px;
                    height: 32px;
                    border: 1px solid #C3CFD5;
                    border-radius: 100px;
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                    .iconspan{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 16px;
                        height: 16px;
                          .iconimg{
                            width: 14px;
                            height: 14px;
                          }//iconimg
                    }//iconspan
                 }//icon
                 .extend{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding:2px 0px 0px 11px;
                    gap: 10px;
                    width: 32px;
                    height: 32px;
                    border: 1px solid #525252;
                    border-radius: 100px;
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                 }//extend
              }//btns
            }//info
    }//profile
    /* .writepostdiv{
       // padding: 16px 0px!important;
    } */
    .post{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 16px;
        width: 560px;
        height: 1378px;
        overflow-y: scroll;
        background: #080A0C;
        border-radius: 26px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }//post
}//profilewithfeeds
.achivements{
    background: transparent;
    left: 24px!important;;
    position: relative;
}
}//content
