.av__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 8px;
  z-index: 9;
  inset: 0;
  pointer-events: auto;

  .av__inner-container {
    width: 580px;
    height: 760px;
    background: #282828 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;

    .av__header {
      height: 142px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 21px;
      justify-content: flex-end;

      .av__heading {
        font: normal normal normal 28px/43px "Archivo Black";
        color: #FFFFFF;
      }

      .av__sub-heading {
        font: normal normal normal 18px/24px Open Sans;
        color: #C4C4C4;
      }
    }

    .av__body {
      height: 466px;
      width: 100%;
      overflow-y: scroll;
    }

    .av__footer {
      height: 152px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .av__pagination {
        display: flex;
        justify-content: center;
        gap: 10px;

        .av__pagination-item {
          width: 12px;
          height: 12px;
          border: 1px solid #A8A8A8;
          border-radius: 50%;
        }
        .active {
          background: #523FF9 0% 0% no-repeat padding-box;
          border: 1px solid #EFEFEF;
        }
      }
    }
  }
}

//Audio Setting
.av-setting__container {
  width: 100%;
  .av-setting-inner__container {
    padding: 10px 57px;
    display: flex;
    flex-direction: column;

    .av-setting__heading {
      font: normal normal normal 18px/28px Ignazio Text;
      letter-spacing: 1.08px;
      color: #FFFFFF;
    }

    .av-setting__option-wrapper {
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .av-setting__label {
        font: normal normal normal 16px/22px Open Sans;
        color: #8B8B8B;
      }

      .av-setting__option {
        padding: 5px;
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .av_setting_center_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .av-video-preview-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 290px;
        border-radius: 176px;
        overflow: hidden;

        video {
          position:  relative;
        }

        .av-video-preview {
          width: 388px;
          height: 287px;
          background: #343434 0% 0% no-repeat padding-box;

        }
      }

    }
  }
}

//Volume Range Slider

.av-volume-range {
  border-radius: 8px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  background: #707070;
  border-radius: 50%;
  cursor: pointer;
}

//Microphone Bars

.av-microphone-range {
  display: flex;
  gap: 7px;
  width: 100%;

  .microphone-bar {
    width: calc(10% - 10px);
    height: 18px;
    background: #707070;
    border-radius: 20px;
  }
}
