.cursor {
  cursor: pointer;
}

.customize-avatar-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 9999999;
  inset: 0;
  pointer-events: auto;

  .modal-container {
    width: calc(100% - 2rem);
    height: calc(100% - 5rem);
    margin-top: 3.5rem;
    background: #3a3a3a 0% 0% no-repeat padding-box;
    border-radius: 27px;
    padding: 10px;

    .confirm-modal__close {
      text-align: right;
    }

    .modal_title {
      text-align: left;
      color: #FFFFFF;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: 0.4rem;
      }
    }

    div.head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
    }
  }

  div.main {
    background: #141415;
    border-radius: 10px;
    display: flex;
    min-height: calc(100% - 2.5rem);

    div.front-avatar {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 16px;
      position: relative;

      div.ring {
        padding: 1.25rem;
        box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 50%;

        div.ant-image {
          border-radius: 50%;
        }
      }

      div.skin {
        padding: 1.25rem;
        border-radius: 50%;
        box-shadow: inset 4px 4px 10px #ffffff99;
      }

      img.avatar-img {
        height: 13.6rem;
        border-radius: 50%;

      }
    }


    div.right-section {
      display: flex;
      height: calc(100vh - 8rem);

      .first-item {
        width: 70px;
        margin: 0.8rem;
        cursor: pointer;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background: #fff;
      }

      div.items {
        overflow-x: hidden;
        background: rgba(35, 35, 37, 0.8);
        height: 100%;


        img {
          width: 70px;
          margin: 0.8rem;
          cursor: pointer;

          &.active {
            border: 3px solid #a236f8;
          }
        }

        div.sideBar-view {
          overflow-x: hidden;
          background: rgba(35, 35, 37, 0.8);
          height: calc(100% - 1rem);
          display: flex;
          flex-direction: row;
          align-content: flex-start;
          justify-content: space-around;
          flex-wrap: wrap;
          overflow-y: scroll;
          padding-left: 0.5rem;
          padding-top: 0.5rem;

        }
      }

      div.sections {
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
        background: rgba(35, 35, 37, 0.48);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        max-height: inherit;
        overflow-y: scroll;

        div.ant-image {
          margin-left: auto;
          margin-right: auto;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }

    }
  }

  .react-colorful {
    height: 100% !important;
    width: 90% !important;
    padding: 1rem 0;
    cursor: crosshair;
  }

  .react-colorful__alpha,
  .react-colorful__hue {
    height: 80px;
  }

  .sideBar-view .active {
    border: 3px solid #a236f8;
  }

  .face-asset-container {
    height: 75px;
    width: 75px;
    margin: 0.4rem;
    cursor: pointer;
  }


  .head-asset-container {
    height: 75px;
    width: 75px;
    margin: 0.4rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

  }

  .head-asset-container img {
    height: 145px !important;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    position: absolute;
    left: -20%;
    top: -20%;
  }

  .leftHand-asset-container {
    height: 75px;
    width: 75px;
    margin: 0.4rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

  }

  .leftHand-asset-container img {
    height: 120px !important;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    position: absolute;
    top: -60%;
    left: 15%;
  }

  .rightHand-asset-container {
    height: 75px;
    width: 75px;
    margin: 0.4rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

  }

  .rightHand-asset-container img {
    height: 120px !important;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    position: absolute;
    top: -60%;
    left: -50%;
  }

  .popover {
    position: absolute;
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .skinPopover {
    position: absolute;
    z-index: 99999;
    background: rgba(35, 35, 37, 0.8);
    padding: 10px;
    box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 290px;
    gap: 10px;

    .ant-row {
      gap: 10px;
      row-gap: 10px;
    }

    img.skin-icon {
      height: 60px !important;
      border-radius: 1px !important;
      width: 60px;

      &.active {
        border: 3px solid #a236f8;
      }
    }
  }

  .switch-icon {
    cursor: pointer;
  }

  img.switch-icon {
    height: 3rem;
    margin-top: 1rem;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    left: 40%;
    object-fit: contain;
  }

  .back {
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #DFDFDF 0%, #CACACA 40.79%, #BDBDBD 76.04%, #A8A8A8 87.06%, #A5A5A5 90.8%, #B9B9B9 97.59%, #EEEEEE 100%);
    max-height: 17rem;

    img {
      height: 17rem !important;
      width: 17rem !important;
    }
  }

  img.left-hand {
    position: relative;
    left: -10%;
    z-index: 99;
    top: 50%;
    transform: rotate(-20deg);
  }

  img.head {
    position: relative;
    z-index: 99;
    top: 5%;
    left: 5%;
  }

  img.right-hand {
    position: relative;
    left: 12%;
    z-index: 99;
    top: 45%;
    transform: rotate(-20deg);
  }

  div.action {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    align-items: end;
    bottom: 1rem;

    button.save {
      width: 193px;
      height: 48px;
      background: #080A0C;
      border: 1px solid #C3CFD5;
      border-radius: 100px;
      color: #B1B1B1;
      margin-right: 1rem;
    }

    button.cancel {
      color: #B1B1B1;
      border: unset;
      background: transparent;
      margin-right: 2rem;
    }
  }

  .left-hand-add-icon {
    left: -12%;
    position: relative;
    height: 22px;
    top: 50%;
    cursor: pointer;
  }

  .head-add-icon {
    left: 38%;
    position: relative;
    height: 22px;
    top: -3%;
    cursor: pointer;
  }

  .right-hand-add-icon {
    left: 88%;
    position: relative;
    height: 22px;
    top: 50%;
    z-index: 99;
    cursor: pointer;
  }
}

.avatar-skin,
.ring-color,
.avatar-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-avatar .avatar-skin {
  height: 17rem;

  width: 17rem;
  border-radius: 50%;
  z-index: 1;
}

.front-avatar .ring-color {
  height: 14.15rem;
  width: 14.15rem;
  background-color: rgb(41, 41, 188);
  border-radius: 50%;
  z-index: 10;

}

.front-avatar img {
  height: 11.65rem;
  width: 11.65rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 11;
}

.hat-container {
  position: absolute;
  height: 1rem !important;
  width: 1rem !important;
  z-index: 15;
  display: block;
}

.hat-container img {
  display: none;
}

.hat-container img[src] {
  display: inline-block;
  object-fit: cover !important;
  border-radius: unset !important;
  filter: drop-shadow(5px 4px 15px #000);
  top: 75%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  height: 40rem;
  width: 40rem;
  pointer-events: none;
}

.just-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-holder-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  padding: 1rem;
  height: 17rem !important;
  width: 17rem !important;
}


.left-hand-container {
  z-index: 15;
  position: absolute;
  height: 17rem;
  width: 1rem;
}

.right-hand-container {
  position: absolute;
  height: 17rem;
  width: 1rem;
  z-index: 15;
}

.left-hand-container img,
.right-hand-container img {
  display: none;
}

.left-hand-container img[src] {
  position: absolute;
  padding-right: 80px;
  top: 45%;
  transform: translate(-50%, -50%);
  left: 60%;
  height: 36rem !important;
  width: 36rem !important;
  display: block;
  object-fit: cover !important;
  border-radius: unset !important;
  filter: drop-shadow(10px 14px 10px #000);
  pointer-events: none;
}

.right-hand-container img[src] {
  position: absolute !important;
  padding-left: 80px;
  top: 45%;
  transform: translate(-50%, -50%);
  left: 40%;
  height: 36rem !important;
  width: 36rem !important;
  display: block;
  object-fit: cover !important;
  border-radius: unset !important;
  filter: drop-shadow(-10px 14px 10px #000);
  pointer-events: none;
}

.profile-webcam {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 9999999;
  inset: 0;
  pointer-events: auto;
  background: white;
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem;

  video {
    border: 1px solid #fff;
    border-radius: 6px;
  }

  button.capture {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(161 161 161);

    span {
      font-size: 1.5rem;
    }
  }

  button.save {
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: 0.2rem;
    padding: 8px 40px;
    background: #080A0C;
    border: 1px solid #C3CFD5;
    border-radius: 9px;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 0.3rem;
    }
  }

  button.recapture {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-bottom: 0.2rem;
    padding: 8px 12px;
    background: #080A0C;
    border: 1px solid #C3CFD5;
    border-radius: 9px;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 0.3rem;
    }
  }

  div.captured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 6px;
  }
}

span.asset-loading {
  background: linear-gradient(90deg,rgba(0,0,0,0.06) 25%,rgba(0,0,0,0.15) 37%,rgba(0,0,0,0.06) 63%);
  background-size: 400% 100%;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  width: 70px;
  height: 70px;
  margin: 0.8rem;
  display: flex;
}

span.close-webcam {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border-radius: 6px;
  font-size: 1.4rem;
  padding: 5px;
  cursor: pointer;
}