.popup-chat__container {
  position: absolute;
  left: 32px;
  bottom: 25px;
  background: rgba(35, 35, 37, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 26px;
  z-index: 9999999;
  pointer-events: auto;

  .main-wrapper {
    width: 320px;
    height: 520px;
  }

  .str-chat__emojisearch {
    bottom: 80px !important;
    left: auto !important;
    width: 290px!important;
    border-radius: 12px !important;
  }
}

.popup-chat__inner-container {
  display: flex;
  width: 100%;
  height: 91%;
}

// Header
.popup-chat__header {
  height: 77px;
  display: flex;
  flex-direction: column;

  .ch-window-ctrl {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 23px;
    padding: 7px 20px;
    align-items: center;
  }

  .ch-sider {
    width: 100%;
    display: flex;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;

    .ch-logo-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;

      .ch-chat-icon {
        width: 13.5px;
        height: 13.5px;
      }
  
      .ch-chat-txt {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #D7D7D7;
      }
    }
  } 

  .ch-chat-details-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .ch-chat-name-options {
      display: flex;
      gap: 8px;
      align-items: center;
      padding-left: 18px;

      .back-icon {
        cursor: pointer;
        width: 5px;
        height: 10px;
      }

      .ch-chat-name-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .channel-name {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
        }

        .online-count {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #C4C4C4;
        }

        .clan-details {
          display: flex;
          gap: 2px;
          align-items: center;

          .clan-icon {
            width: 12px;
            height: 12px;
          }

          .clan-name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #78BAD6;
          }
        }
      }
    }

    .new-chats-wrapper {
      display: flex;
      margin-right: 10px;
      align-items: center;
    }
  }

  .popup__search-user-container {
    padding: 19px 14px 16px 14px;
  }
}

.popup-chat__channel-list-container {
  width: 100%;
  height: 94%;
  padding: 8px;
  background: #080A0C;
  border-bottom-left-radius: 26px !important;
  border-bottom-right-radius: 26px !important;

  .str-chat-channel-list {
    width: 100%;
    height: fit-content;
    max-height: 50%;
    //background: #222222 0% 0% no-repeat padding-box !important;
  }

  .str-chat.messaging.dark, .str-chat.commerce.dark {
    background: #080A0C;
  }
}

.popup-chat__channel-preview {
  display: flex;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
  gap: 12px;
  height: 53px;
  background: none;
  border-radius: 13px;
  align-items: center;

  .ant-badge-dot {
    width: 10px;
    height: 10px;
    margin-top: 30px !important;
    right: 5px !important;
    border: 1.5px solid #080A0C !important;
  }

  .channel-detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 85%;

    .channel-detail-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .channel-detail-block {
        display: flex;
        gap: 2px;
        align-items: center;

        svg {
          width: 13px;
          height: 13px;
          fill: #9A9C9D;
        }
      }

      .mute-icon-wrapper {
        width: 19px;
        height: 19px;
        background: #363636 0% 0% no-repeat padding-box;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .channel-name {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      max-width: 173px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .active-channel-name {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      max-width: 173px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .last-message {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #9A9C9D;
      max-width: 143px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .active-last-message {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #9A9C9D;
      max-width: 143px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .last-message-time {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      color: #9A9C9D;
      text-transform: lowercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }

    .active {
      color: #ffffff;
    }

    .channel-sub-detail {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .message-count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }
  }
}

.popup-chat__team-channel-list {
  width: 100%;

  header {
    display: flex;
    height: 26px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 15px 32px;

    .header-left {
      display: flex;
      gap: 10px;
      align-items: center;

      svg {
        height: 25px;
        width: 34px;
      }

      span {
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        font-family: niveau-grotesk;
      }
    }
  }

  body {
    background: #080A0C;
    overflow-y: scroll;
  }

  .list-open {
    height: 430px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
  }

  .list-close {
    max-height: 0px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
  }
}

.popup-chat__channel-container {
  width: 100%;
  height: 94%;
  background: #141415;
  border-radius: 25px;
  .str-chat {
    height: 100% !important;
    border-bottom-left-radius: 26px !important;
    border-bottom-right-radius: 26px !important;
  }
}

.popup-chat__channel-inner {
  width: 100%;
  background: #141415;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;

  .str-chat__main-panel {
    padding: 0px !important;
  }

  .str-chat__list {
    background: none !important;
    padding: 0px 16px !important;
  }
}

.str-chat__reverse-infinite-scroll {
  padding-top: 0px !important;
  height: 100% !important;
}

.popup-chat__custom-message {
  display: flex;
  gap: 8px;
  width: 100%;

  .message-wrapper-content {
    margin: 0px 0px 10px 0px;
    width: 100%;

    .deleted-message-wrapper {
      .deleted-msg-txt {
        margin-bottom: 0;
        border-radius: 0px 30px 30px 30px;
        font: normal normal normal 14px/26px Montserrat;
        color: #b5b3b3ea;
        font-style: italic;
        background: none;
      }
    }

    .message-body {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 8px;
    }

    .delete-message {
      padding-bottom: 6px;
      svg {
        width: 12px;
        height: 12px;
        cursor: pointer;
      }
    }

    .user-name {
      font-size: 20px;
      color: #ffffff;
      font-weight: 600;
      font-family: niveau-grotesk;
    }
  }
}

.chat__message-input {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  background: #232325;
  border-radius: 100px;
  padding: 10px;

  .str-chat__input-flat {
    background: none !important;
    width: 0px;
    padding: 0px;
  }

  .emoji-wrapper {
    .emoji {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .message-text {
    width: 100%;
    // height: 50px;
    margin-left: 8px !important;
  }

  .send-wrapper {
    .send {
      width: 19px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border-radius: 50%;
      cursor: pointer;

      svg {
        width: 19px;
        height: 18px;
      }
    }
  }
}

.inline-block{
  display: inline-block;
}

.logged_user_chat{
  .str-chat__textarea__textarea, .str-chat__input-flat, .send-wrapper{
    background: #232325 !important;
    height: 50px !important;  
  }

  .str-chat__message-text, .str-chat__message-simple-text {
    justify-content: flex-end !important;
  }
}

.friend_user_chat{
  justify-content: flex-start !important;
  .str-chat__textarea__textarea, .str-chat__input-flat, .send-wrapper{
    background: #232325 !important;
    height: 50px !important; 
  }
}

.message-bottom_friends {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
}

.message-bottom_user {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-end;
}
.str-chat__container{
  background: #252525 !important;
  border-bottom-left-radius: 26px !important;
  border-bottom-right-radius: 26px !important;
}

.popup_search-list-container {
  padding-top: 24px;
  width: 100%;

  .amm-list-header {
    font-family: 'Ignazio Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .amm-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 273px;
    overflow-y: scroll;

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      &:hover {
        background-color: #141415;
        border-radius: 13px;
      }

      .added-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;

        .added-text {
          font-family: 'Ignazio Text';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #FFFFFF;
        }
      }

      .user-name-details {
        display: flex;
        align-items: center;
        gap: 8px;

        .user-name {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }

      .add-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        background: url(../../../assets/images-v2/add-member-icon.svg) no-repeat;
      }

      .add-icon:hover {
        width: 36px;
        height: 36px;
        background: url(../../../assets/images-v2/add-member-active-icon.svg) no-repeat;
      }
    }
  }
}

.str-chat__small-message-input-emojipicker {
  right: -270px !important;
}