.explore-container {
  padding: 100px 135px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  .ex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ex-header-txt {
      font-family: "Ignazio Text";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
      color: #ffffff;

      &.clickable {
        cursor: pointer;
      }

      & > .active {
        cursor: default;
        font-weight: 100;
      }
    }

    .my-collection-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 148px;
      height: 40px;
      border: 1px solid #c3cfd5;
      border-radius: 100px;
      background: none;
      font-family: "Ignazio Text";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        pointer-events: none;
        cursor: default;
      }
    }
  }

  .ex-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    .expand-icon {
      cursor: pointer;
      width: 40px;
      height: 40px;
    }

    .subheader-right {
      display: flex;
      align-items: center;
      gap: 10px;

      .search-input {
        background: none !important;
        border-radius: 100px;
        height: 40px !important;
        padding: 0px !important;
        width: 360px !important;
      }
      .search-input input {
        background: none;
        width: 85%;
        padding: 12px 5px 12px 20px;
        letter-spacing: 1px;
        border: none;
        border-radius: 24px;
        color: white;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }

      .grid-icon-wrapper {
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
    }
  }

  .ex-content {
    margin-top: 25px;
    display: flex;
    gap: 40px;

    .ex-list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .nft-list {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        &:after {
          content: "";
          flex: auto;
        }
      }

      .ex-load-more-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 48px;
        border: 1px solid #303030;
        border-radius: 100px;
        cursor: pointer;

        .ex-load-more-label {
          font-family: "Ignazio Text";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #9a9c9d;
        }
      }
    }
  }
}

/* NFT Card Styles */
.nft-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 492px;
  border-radius: 16px;
  gap: 4px;
  height: 100%;
  justify-content: space-between;

  .loading {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1d21;
    border-radius: 16px;
    animation: 1.5s ease-in-out 0.5s infinite normal none running
      animation-c7515d;
    img {
      height: 100px;
      width: 100px;
      opacity: 0.1;
    }
  }

  .nft-image {
    width: 100%;
    // height: 400px;
    border-radius: 6px;
    transition: opacity 200ms, display 200ms;
  }

  .nft-name {
    font-family: "Ignazio Text";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #ffffff;
  }

  .clan-name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #c4c4c4;
  }

  .nft-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    .price-txt {
      font-family: "Archivo";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }

    .nft-id {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
    }
  }
}

.ex-side-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  gap: 16px;
  min-width: 264px;
  height: max-content;
  border: 1px solid #525252;
  border-radius: 20px;
  background: #141415;

  .accordion {
    width: 100%;
    padding: 0 2px;

    .accordion-item {
      border: none;
      border-bottom: 1px solid #525252;

      &:last-child {
        border-bottom: none;
      }

      .accordion-body {
        background: #141415;
        overflow-y: scroll;
        max-height: 703px;
        overflow-x: hidden;

        .sf-item-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 240px;
          background: #141415;
          border-radius: 10px;
          gap: 10px;
          padding: 5px 10px;
          cursor: pointer;

          span {
            background: #141415;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #ffffff;
          }

          .count-label {
            color: #616465;
          }
        }

        .selected-collection {
          background: #141415;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .sf-header {
    background: #141415;

    .accordion-button {
      background: #141415;
      font-family: "Ignazio Text";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }

    .accordion-button::after {
      background-image: url(../../assets/images-v2/accordion-down.svg);
    }

    .accordion-button:not(.collapsed)::after {
      background-image: url(../../assets/images-v2/accordion-down.svg);
    }

    .accordion-button:focus {
      box-shadow: none;
    }
  }
}

.nft-id {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

/* View NFT Modal */
.view-nft-container {
  .ant-modal-close-x {
    line-height: 44px;
  }
  .ant-modal-content {
    border-radius: 26px;
    background: transparent;
  }

  .ant-modal-body {
    background: rgba(35, 35, 37, 0.48);
    border-radius: 26px;
    backdrop-filter: blur(25px);

    .vn-header {
      font-family: "Ignazio Text";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 16px;
    }

    .vn-content {
      display: flex;
      padding: 20px 0px;
      gap: 12px;

      .vn-nft-image {
        //width: 200px;
        width: auto;
        border-radius: 26px;
        //height: 290px;
        height: 100%;
        max-height: 300px;
        max-width: 200px;
      }

      .vn-nft-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .nft-name {
          font-family: "Ignazio Text";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 22px;
          text-transform: capitalize;
          color: #ffffff;
        }

        .collection-detail {
          display: flex;
          gap: 4px;
          align-items: center;

          .clan-logo {
            width: auto;
            height: 30px;
          }

          .clan-name {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #c4c4c4;
          }
        }

        .nft-token-id {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 14px;
          color: #ffffff;
        }

        .nft-price {
          font-family: "Archivo";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }

    .vn-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .vn-marketplace-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 227px;
        height: 36px;
        border: 1px solid #c3cfd5;
        border-radius: 100px;
        background: none;
        font-family: "Ignazio Text";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

.collections-metadata {
  background: #141415;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 13px;
  padding: 22px;
  margin-bottom: 24px;

  .accordion {
    width: 100%;
    background: "#141415";

    .accordion-item {
      background: "#141415";
    }

    .accordion-header {
      background: #141415;
      // margin: 4px;
    }
    .accordion-button {
      background: #141415;
      font-family: "Ignazio Text";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 0.75rem;
    }

    .accordion-body {
      background: "#141415";
    }
    .accordion-item {
      border: none;
      border-bottom: 1px solid #525252;

      &:last-child {
        border-bottom: none;
      }

      .accordion-body {
        background: #141415;
        overflow-y: scroll;
        max-height: 703px;
        overflow-x: hidden;
      }
    }
  }
}

.owned-by-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  span {
    color: rgb(252 198 114);
  }
}

.contract-button {
  background: #fcc672;
  border: 1px solid #fcc672;
  border-radius: 16px;
  font: normal normal 300 25px/29px niveau-grotesk;
  color: #0c0d0f;
  padding: 22px;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;

  &:disabled {
    border: 1px solid #7cb5f924;
    color: #0c0d0f;
    background: #4b4b4b;
    cursor: default;
  }
}

.action-items {
  background-image: linear-gradient(
    137deg,
    hsl(0deg, 0%, 13%) 0%,
    hsl(0deg, 0%, 8%) 13%,
    hsl(0deg, 0%, 12%) 22%,
    hsl(0deg, 0%, 7%) 42%,
    hsl(220deg, 11%, 5%) 100%
  );
  border: 1px solid rgb(95, 95, 95);
  border-radius: 13px;
  padding: 22px;
  margin-bottom: 24px;
  display: flex;
  .item-1 {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    text-align: left;
  }

  .price {
    color: #fcc672;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .current-price-text {
    color: #c4c4c4;
    font-weight: 300;
    font-size: 17px;
  }

  .converted-price-text {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
  }

  .offer {
    gap: 0.5rem;
    display: flex;
    width: 100%;
  }
  button {
    padding: 16px !important;
  }

  .item-2 {
    padding: 0px 0px 16px 0px;
    width: 90%;
  }

  .item-3 {
    flex-grow: 1;
  }
}

.ant-modal-content,
.ant-modal-header,
.ant-modal-footer {
  background-color: #000;
  color: #fff;
  border: none;
}

.ant-modal-title {
  color: #fff;
}
.list-nft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .price-input {
    align-items: center;
  }

  img {
    width: 200px;
    height: auto;
  }

  .nft-block {
    display: flex;
    gap: 1rem;

    .nft-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1;
    }

    .owner {
      margin-top: 2rem;
      font: normal normal 300 15px/18px niveau-grotesk;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        color: #fcc672;
      }
    }
  }
  .buttons {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}

.owned-by-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  span {
    color: rgb(252 198 114);
  }

  #copy-icon svg {
    cursor: pointer;
    stroke: rgb(252 198 114);
    transform: rotate(90deg);
    font-weight: 300;
    margin-left: 5px;
  }
}

.modal-button {
  border: 1px solid #7cb5f924;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  display: inline-block;
  font: normal normal 300 25px/29px niveau-grotesk;
  color: #0c0d0f;
  width: 100%;

  &.confirm {
    background: #fcc672;
    border: 1px solid #fcc672;
  }
}
