.n-wallet-container {
  display: flex;
  justify-content: center;
  width: auto !important;
}

.n-wallet-container .ant-modal-body {
  /* padding: 0px; */
  display: flex;
  justify-content: center;
}

.n-wallet-container .ant-modal-content {
  // padding: 10px;
  width: 404px;
  max-height: 280px;
  background: #000 0% 0% no-repeat padding-box;
  border-radius: 27px;
}

// .n-wallet-container .ant-modal-close-x {
//   margin-top: 5px;
// }
.n-wallet-container .ant-modal-header {
  padding: 16px 24px;
  color: #fff;
  background: #0f0f0f;
  border-bottom: 1px solid #0f0f0f;
  border-radius: 25px 25px 0 0;
}

.n-wallet-container .ant-modal-title{
  color: #FFFFFF;
}
.n-wallet-container .link-wallet-content .wallet-text {
  /* margin-top: 9px; */
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 700;
  font-family: niveau-grotesk;
}

.n-wallet-container .link-wallet-content .wallet-sub-text {
  // margin-top: 32px;
  font: normal normal 300 20px/24px Montserrat;
  color: #C4C4C4;
}

.n-wallet-container .link-wallet-content .wp-wallet-options-wrapper {
  margin-top: 22px;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.wp-wallet-options-wrapper img {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.wp-wallet-options-wrapper .falcon-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  //background: transparent linear-gradient(180deg, #B261FA 0%, #523FF9 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
}

.text-align-center {
  text-align: center;
}

.response-content .wallet-text {
  /* margin-top: 9px; */
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 700;
  font-family: niveau-grotesk;
}

.n-wallet-container .response-content .wallet-text {
  /* margin-top: 9px; */
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 700;
  font-family: niveau-grotesk;
}

.n-wallet-container .response-content .wallet-sub-text {
  //margin-top: 30px;
  font-family: niveau-grotesk;
  font-size: 20px;
  color: #FFFFFF;
  height: 76px;
  width: 363px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.response-content .wp-wallet-options-wrapper {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

.wp-wallet-options-wrapper .options-sub-wrapper {
  width: 342px;
  height: 60px;
  background: #451FFF 0% 0% no-repeat padding-box;
  border-radius: 29px;
  text-align: center;
}

.wp-wallet-options-wrapper .action-btn {
  width: 338px;
  height: 57px;
  background: #523FF9 0% 0% no-repeat padding-box;
  border-radius: 29px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bolder;
  border: 1px solid #523FF9;
}

.n-wallet-container .loader-wrapper {
  font: normal normal 300 20px/24px niveau-grotesk;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.n-wallet-container .loader-wrapper img {
  height: 150px;
  width: 150px;
}