.postouterdiv{
padding:  15px;
gap: 16px;
position: absolute;
width: 600px;
Height: auto;
left: 427px;
top: 100px;

background: #080A0C!important;
border-radius: 26px;
}
.wrttxt{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 16px;
gap: 24px;

width: 554px;
height: 44px;

/* System/text/Disabled */

border: 1px solid #525252;
border-radius: 26px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.writepostdivmulti{
    display: flex;
flex-direction: column;
align-items: flex-start;
flex-direction: column;
align-items: flex-start;
gap: 10px;
width: 586px;
height: 120px;
border-radius: 26px 26px 0px 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.writepostdiv{
display: flex;
flex-direction: column;
align-items: flex-start;
flex-direction: column;
align-items: flex-start;
gap: 10px;
width: 100%;
/*height: 76px;*/
height: auto;
border-radius: 26px 26px 0px 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.postlistdiv{
    display: flex;
flex-direction: column;
align-items: flex-start;
/*padding: 0px 16px;*/
gap: 16px;

width: 100%;
height: auto;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.txtwrtpost{
box-sizing: border-box;
position: static;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 16px!important;
gap: 18px;

width: 100%;
height: auto;
/*height: 44px;*/
white-space: pre-wrap;
/* System/text/Disabled */

border: 1px solid #525252;
border-radius: 26px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.txt{
    width: 434px;
    height: auto;
    /*height: 20px;*/
    color: white;
    /* Text/Typography/H8 | Body 2 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    border: none;
    /* System/action/default */

    color: white;
    background-color: transparent;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.txt:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btnclip{
    width: 10px;
    background: none;
    left: 100.08%;
    right: -83.41%;
    bottom: 0.5%;
    border: none;
    text-align: center!important;
    transform: rotate(350deg)!important;
}
.btnsend{
flex: none;
order: 0;
flex-grow: 0;
border: none;
background: none;
margin: 2px;
}
.closebtnspan{
    background-color: rgba(35, 35, 37, 0.48);
    left: 310px;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
.postborder{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 8px 8px 8px;
gap: 16px;
width: 100%;
border: 1px solid #525252;
border-radius: 26px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.prfusername{
    width: 85px;
height: 22px;
padding-left: 5px;

/* Text/Typography/H7 | Body */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */


/* System/text/Primary */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.prfusrtime{

width: 92px;
height: 16px;

/* Text/Typography/H9 | Caption */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
padding-left: 5px;
/* identical to box height, or 133% */


/* System/action/default */

color: #9A9C9D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.posttext{
    margin-left: 12px;
    width: 522px;
height: auto;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C4C4C4;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
inline-size: 520px;
overflow-wrap: break-word;
}
.posttext a{
    color: blue;
}
.usrprfimg
{
width: 522px;
height: 280px;
border-radius: 20px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.txtlikes{
    width: 21px;
height: 16px;
padding-left: 11px;
/* Text/Typography/H9 | Caption */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* System/text/Secondary */

color: #C4C4C4;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.txtcmnts{
    width: 14px;
height: 16px;

/* Text/Typography/H9 | Caption */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* System/text/Secondary */

color: #C4C4C4;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.divlikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;
    width: 41px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.divcmnts{
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
width: 32px;
height: 32px;
border-radius: 100px;
flex: none;
order: 0;
flex-grow: 0;
}
.divcomntsborder{
    width: 57px;
height: 32px;
display: flex;
flex-direction: row;
align-items: center;
color: #C4C4C4;
flex: none;
order: 0;
flex-grow: 0;
padding: 0px;
}
.divlikeborder{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 57px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
}
.leftdiv{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 123px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.rightside{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 76px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.rightborder{

box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
height: 30px;
border-radius: 100px;
}
.rightdiv{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
width: 30px;
height: 30px;
border-radius: 100px;
flex: none;
order: 0;
flex-grow: 0;
}
.actionpost{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 16px;

width: 522px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.activityFeedtxt{
    width: 228px;
height: 16px;

/* Text/Typography/H9 | Caption */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* System/text/Secondary */

color: #C4C4C4;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.applytoppadding{
    padding-top: 10px;
}
.borderdiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 8px;
    gap: 8px;
    width: 550px;
    height: 560px;
    border: 1px solid #525252;
    border-radius: 26px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.containerimgupld{
    display: flex;
    flex-wrap:column wrap;
    direction: ltr;
    align-items: center;
    gap: 1px;
}
.frstcolmn{
    align-items: flex-start;
    border-radius: 13px;
}
.scndColmn{
      padding: 5px;
      gap: 5px!important;
      background: transparent;
      border-radius: 13px;
}
.scndclmnimg{
    height:155px;
    width:220px;
    border-radius: 13px;
}
.imgprev{
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
            align-items: center;
            gap: 1px;
        }

.thumb{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 5px;
gap: 5px!important;
background: transparent;
border-radius: 13px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
width:150px;
height: 200px !important;
}
.leagues1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    overflow: hidden;
    max-height: 320px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.leagues {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    overflow: hidden;
    max-height: 160px;
    transform: translate(-50%, -50%);
    left: 50%;
}
------------------
.imgeuploadcontainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    width: 100%;
    height: 438px;
    border: 1px solid #525252;
    border-radius: 26px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.txtdiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 16px;
    width: 100%;
    height: 128px;
    border: 1px solid #616465;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.txtinputpost:hover{
    border: none;
}

.txtinputpost{
    resize: none;
    width: 420px;
    height: 120px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 250;
    font-size: 13px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background: transparent;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
    outline: none;
}

.actionbtndiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px
px
;
    grid-gap: 12px;
    gap: 5px;
    width: 91px;
    height: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.attchbtndiv{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 10px;

width: 28px;
height: 28px;

border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.subbtndiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    gap: 10px;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.canclebtn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    width: 64px;
    height: 28px;
    border: 1px solid #525252;
    border-radius: 100px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: black;
}
.canclebtn:hover {
    background-color: white!important;
    color: #080A0C!important;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    width: 64px;
    height: 28px;
    border: 1px solid #525252;
    border-radius: 100px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
.cnldiv{
    padding: 10px 0px 2px 0px!important;
}
.closebtnfirstimg{
    left: 310px!important;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    cursor: pointer;
}
.submit_span{
    background: #232325;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}
.closebtnsecimg{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
.singleimg{
    width:100%!important;
    height:300px!important;
    border-radius: 13px!important;
    padding-left:15px!important;
    object-fit: contain;
}
.singleimginmultiple{
    object-fit: contain;
    width:100%!important;
    height:300px!important;
    border-radius: 13px!important;
}
.second_close_span{
    background-color: rgba(35, 35, 37, 0.48);
    border-radius: 10px;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 532px;
}
.posttime_text{
    color: #9A9C9D;
  }

  .postfooter_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .postfooter_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 300px;
  }
  .postfooter_right span{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
  }
  .postfooter_left span {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    cursor: pointer;
  }
  .postmr_10{
    margin-right: 10px;
  }
  .postloader {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 0px 50px;
    width: 100%;
    height: 32px;
    z-index: 1;
}
.submit_span{
    background: #232325;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}
